@charset "UTF 08";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
html,body{
    height: 100vh;
    width: 100vw;
}
main{
    background-color: #7BF763;
    height: 100vh;
}
header{
    background-color:#5aad4a ; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    color: white;
    margin: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    font-size: 2em;  
    flex: 0 0 200px;
}
nav{
    background-color:#5aad4a ; 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
a{
    background-color: #8be07a;
    text-decoration: none;
    color: #526e2bb0;
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
a:hover{
    background-color: rgb(37, 36, 36);
    color: white;
}
section{
    background-color: white;
    padding: 20px;
    border: 2px solid #4b923d96;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 1px 1px #5aad4a9d;
}
section > p{
    text-align: justify;
    text-indent: 10px;
}
